---
import Layout from "../layouts/Layout.astro";
import Card from "../components/Card.astro";
---

<Layout title="Welcome to Astro.">
  <main>
    Lorem, ipsum dolor sit amet consectetur adipisicing elit. Ducimus esse nisi
    repellendus dicta, rem corrupti provident. Eaque magnam, quam dolore
    architecto perspiciatis quo at quae natus blanditiis incidunt velit
    assumenda!
  </main>
</Layout>
